# The command that runs the program. If the interpreter field is set, it will have priority and this run command will do nothing
run = "python3 aula3-2022-11-09.py"

# The primary language of the repl. There can be others, though!
language = "python3"
entrypoint = "aula3-2022-11-09.py
